* {
  margin: 0;
  padding: 0
}

.background-login{
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.form-container{
  display: flex;
  justify-content: center;
}

.form-login{
  background-color: white;
  width: 30vw;
  height: 60vh;
  margin-top: 15vh;
}

.account-login{
  font-size: 32px;
  text-align: center;
  margin-top: 10%;
}

.input-email{
  height: 30px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  font-size: 18px;
  outline: none;
}

.input-password{
  height: 30px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  font-size: 18px;
  outline: none;
}

.submit-login{
  margin-top: 12%;
  height: 40px;
  width: 60%;
  margin-left: 20%;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease;
}

.submit-login:hover{
  background-color: white;
  color: black;
}

.board-background{
  height: 100vh;
  width: 100vw;
}

.board-container{
  display: flex;
  justify-content: center;
}

.board-display{
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.board-sidebar{
  width: 15%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  box-shadow: 2px 0px 5px black;
  position: fixed;
}

.room-title{
  text-align: center;
  color: white;
  padding-top: 10%;
  font-size: 18px;
  border-bottom: 2px solid white;
  padding-bottom: 7%;
}

.title-section{
  height: 10%;
  border-bottom: 2px solid black;
}

.room-section{
  height: 15%;
  margin-top: 5%;
  text-align: center;
}

.room-text{
  font-size: 16px;
  margin-top: 15%;
  color: white;
  cursor: pointer;
  transition: .2s ease-out;
}

.room-text:hover{
  color: aquamarine;
}

.main-content{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.main-section{
  width: 100%;
  height: 100%;
}

.kanban-section{
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 2%;
}

.chat-section{
  width: 100%;
  height: 100%;
}

.chat-box{
  background-color: white;
  height: 80%;
  margin-top: 5%;
  margin-left: 25%;
  width: 70%;
  box-shadow: 0px 0px 5px grey;
  display: flex;
}

.chat-board{
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 2%;
}

.kanban-board{
  background-color: white;
  height: 80%;
  margin-top: 5%;
  width: 23%;
  box-shadow: 0px 0px 5px grey;
}

.kanban-title{
  text-align: center;
  margin-top: 7%;
  height: 10%;
  border-bottom: 2px solid grey;
  color: black;
  font-weight: bold;
}

.kanban-body{
  height: 85%;
  background-color: white;
  overflow-y: scroll;
}

.logout-btn{
  margin-top: 40%;
  width: 70%;
  height: 50px;
  background-color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: .5s ease-out;
}

.logout-btn:hover{
  background-color: white;
  color: red;
}

.chat-box{
  display: flex;
}

.chat-online-box{
  width: 25%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  z-index: 5;
  overflow-y: scroll;
}

.chat-online-box::-webkit-scrollbar{
  display: none;
}

.chat-division{
  height: 100%;
  width: 75%;
}

.chat-app-box{
  width: 100%;
  height: 90%;
  background-color: white;
}

.chat-bar-box{
  background-color: white;
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 5px grey;
}

.online-title{
  height: 20%;
  width: 100%;
  border-bottom: 2px solid whitesmoke;
  z-index: 10;
}

.chat-online{
  width: 100%;
  height: 10%;
  border-bottom: 2px solid grey;
  text-align: center;
}

.chat-online > h2{
  margin-top: 7%;
}

.online{
  width: 100%;
  display: flex;
  height: 15%;
  text-align: left;
  margin-top: 20px;
}

.profile-picture{
  width: 50px;
  height: 50px;
  margin-left: 10%;
  border: 0.5px solid black;
}

.name{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  margin-left: 5px;
}

.chat{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat-bar{
  width: 100%;
  height: 100%;
}

.textbox{
  width: 50%;
  height: 40px;
  border-top: none;
  border-bottom: 2px solid black;
  border-right: none;
  border-left: none;
  background-color: transparent;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}

.send{
  background-color:turquoise;
  width: 80px;
  height: 43px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  outline: none;
}